// Переменные стилей квазара
// --------------------------------------------------
// Чтобы настроить внешний вид этого приложения, вы можете переопределить
// переменные стилей, найденные в исходных файлах стилей квазара.

// Полный список квазарных переменных приведен в документации.

// Рекомендуется изменить цвета по умолчанию, 
// чтобы соответствовать брендингу вашего приложения.
// Совет: используйте "конструктор тем" на веб-сайте документации Quasar.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037
