// Переменные Quasar Stylus
// --------------------------------------------------
// Чтобы настроить внешний вид этого приложения, вы можете переопределить 
// переменные стилуса, найденные в исходных файлах стилуса Quasar.

// Проверьте документацию для полного списка переменных квазара

// Настоятельно рекомендуется изменить цвета по умолчанию 
// в соответствии с фирменным стилем вашего приложения.
// Совет: используйте "Theme Builder" на веб-сайте документации Quasar.

$primary   = #027BE3
$secondary = #26A69A
$accent    = #9C27B0

$positive  = #21BA45
$negative  = #C10015
$info      = #31CCEC
$warning   = #F2C037
